*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* height: 100vh; */
}
body{
    background: #00002e;
}
/* .container {
    position: relative;
    width: 90%;
    height: 400px;
    background: red;
    align-items: center;
    margin: auto;
    border: solid 2px;
} */
.componentWrapper {
    border: solid cadetblue;
    border-radius: 40px;
    padding: 15px 10px 10px;
    width: 80%;
    height: auto;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-decoration: center;
    margin: 0 auto;
    position: relative;
    top: 150px;
  }
  
.componentWrapper .hed_text {
    position:absolute;
    margin-top:-25px;
    margin-left:10px;
    color:white;
    background:cadetblue;
    border-radius:10px;
    padding:2px 10px;
    font-size: 20px;
}
.contentArabic_ar{
    padding: 20px;
    padding-top: 30px;
    line-height: 1.5;
    text-align: end;
    font-size: 30px;
}
.contentEnglish_en{
    padding: 20px;
    padding-top: 33px;
    line-height: 1.5;
    text-align: start;
    word-spacing: 0.2px;
    font-size: 25px;
    font-family: "Gill Sans", sans-serif;
}